.client-orders-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 10px 50px;
  color: #000000;
  align-items: center;
}

.client-orders-container .order-container {
  width: 920px;
  margin: 10px 0;
}

.client-orders-container .order-info {
  border: 1px solid #000000;
  border-radius: 6px;
}

.order-header {
  margin: 10px;
}

.client-orders-container .order-details {
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.client-orders-container .order-details > .left-part,
.client-orders-container .order-details > .right-part {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 10px;
}

.client-orders-container .order-details > .left-part > p,
.client-orders-container .order-details > .right-part > p {
  margin: 5px 0;
}

.client-orders-container .product-image {
  max-width: 200px;
}

.product-image > img {
  width: 100%;
  flex: 0 0 auto;
}