@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto.ttf"); }

body .header .header-left, body .header .header-right, body .catalog-container .product-container, body .catalog-container .product-container .product-left, body .manager-orders-container .order-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }

body .catalog-container .product-container .product-left .name-id-description, body .product-container .product-top-section .product-buy, body .product-container .product-bot-section .product-comments, body .cart-container .cart-info .cart-details .left-and-center .left-part, body .cart-container .cart-info .cart-details .left-and-center .center-part, body .client-orders-container .order-container .order-info, body .user-container form .user-data .left, body .user-container form .user-data .right {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap; }

body .header, body .header .header-link-container, body .header .header-link-container #logoutForm, body .header .header-link-container .header-link, body .product-container .product-top-section, body .cart-container .cart-info .cart-details, body .cart-container .cart-info .cart-details .left-and-center, body .client-orders-container .order-container .order-details, body .manager-orders-container .order-container .order-info .order-details, body .manager-orders-container .order-container .order-info .order-details .left-and-center, body .news-container .news-post-container, body .user-container .user-info, body .user-container form .user-data {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center; }

body, body .catalog-container .product-container .product-right, body .product-container .product-bot-section .product-description-container, body .product-container .product-bot-section .product-comments .add-comment-form div, body .cart-container .cart-info .cart-details .right-part, body .manager-orders-container .order-container .status-buttons, body .contacts-container .address-container address, body .login-container .auth-form-container, body .login-container .auth-form-container .login-form .form-group, body .registration-container .reg-form-container, body .registration-container .reg-form-container form div, body .post-container .npc .img-container, body .home-container .hcc, body .add-product-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center; }

body .catalog-container .add-product .add-product-link, body .catalog-container .toggle-categories-btn, body .catalog-container .categories .category-link, body .catalog-container .product-container .product-right .buttons .btn-link, body .product-container .product-top-section .product-buy .add-to-catr-link, body .product-container .product-bot-section .product-comments .add-comment-form div .btn, body .cart-container .cart-info .place-an-order-link, body .cart-container .cart-info .profile-link, body .cart-container .cart-info .cart-details .right-part .add-to-cart-link, body .cart-container .cart-info .cart-details .right-part .remove-from-cart-link, body .manager-orders-container .order-container .status-buttons .status-change-button, body .login-container .auth-form-container .login-form .form-group .login-button, body .registration-container .reg-form-container form div .registration-button, body .user-container .update-link, body .user-container form .profile-submit, body .add-product-container .add-product-form .submit-button {
  display: block;
  color: #000000;
  background-color: #f6f6f6;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  text-decoration: none;
  text-align: center;
  margin: 10px;
  font-size: 18px;
  line-height: 30px;
  width: 200px; }

body .catalog-container .add-product .add-product-link:hover, body .catalog-container .toggle-categories-btn:hover, body .catalog-container .categories .category-link:hover, body .catalog-container .product-container .product-right .buttons .btn-link:hover, body .product-container .product-top-section .product-buy .add-to-catr-link:hover, body .product-container .product-bot-section .product-comments .add-comment-form div .btn:hover, body .cart-container .cart-info .place-an-order-link:hover, body .cart-container .cart-info .profile-link:hover, body .cart-container .cart-info .cart-details .right-part .add-to-cart-link:hover, body .cart-container .cart-info .cart-details .right-part .remove-from-cart-link:hover, body .manager-orders-container .order-container .status-buttons .status-change-button:hover, body .login-container .auth-form-container .login-form .form-group .login-button:hover, body .registration-container .reg-form-container form div .registration-button:hover, body .user-container .update-link:hover, body .user-container form .profile-submit:hover, body .add-product-container .add-product-form .submit-button:hover {
  cursor: pointer;
  text-decoration: none;
  background-image: linear-gradient(to top, #fc8507, #ffa218);
  border: 1px solid transparent;
  border-top-color: #fc8507;
  border-bottom-color: #ffa218; }
  body .catalog-container .add-product .add-product-link:hover p, body .catalog-container .toggle-categories-btn:hover p, body .catalog-container .categories .category-link:hover p, body .catalog-container .product-container .product-right .buttons .btn-link:hover p, body .product-container .product-top-section .product-buy .add-to-catr-link:hover p, body .product-container .product-bot-section .product-comments .add-comment-form div .btn:hover p, body .cart-container .cart-info .place-an-order-link:hover p, body .cart-container .cart-info .profile-link:hover p, body .cart-container .cart-info .cart-details .right-part .add-to-cart-link:hover p, body .cart-container .cart-info .cart-details .right-part .remove-from-cart-link:hover p, body .manager-orders-container .order-container .status-buttons .status-change-button:hover p, body .login-container .auth-form-container .login-form .form-group .login-button:hover p, body .registration-container .reg-form-container form div .registration-button:hover p, body .user-container .update-link:hover p, body .user-container form .profile-submit:hover p, body .add-product-container .add-product-form .submit-button:hover p,
  body .catalog-container .add-product .add-product-link:hover div,
  body .catalog-container .toggle-categories-btn:hover div,
  body .catalog-container .categories .category-link:hover div,
  body .catalog-container .product-container .product-right .buttons .btn-link:hover div,
  body .product-container .product-top-section .product-buy .add-to-catr-link:hover div,
  body .product-container .product-bot-section .product-comments .add-comment-form div .btn:hover div,
  body .cart-container .cart-info .place-an-order-link:hover div,
  body .cart-container .cart-info .profile-link:hover div,
  body .cart-container .cart-info .cart-details .right-part .add-to-cart-link:hover div,
  body .cart-container .cart-info .cart-details .right-part .remove-from-cart-link:hover div,
  body .manager-orders-container .order-container .status-buttons .status-change-button:hover div,
  body .login-container .auth-form-container .login-form .form-group .login-button:hover div,
  body .registration-container .reg-form-container form div .registration-button:hover div,
  body .user-container .update-link:hover div,
  body .user-container form .profile-submit:hover div,
  body .add-product-container .add-product-form .submit-button:hover div {
    font-weight: bold; }

* {
  margin: 0;
  padding: 0; }

html {
  width: 100%; }

@media screen and (min-width: 960px) {
  body {
    width: 100%; } }

body {
  display: inline-block;
  font-family: "Roboto";
  background-color: #f6f6f6; }
  body .body-content {
    width: 960px;
    margin: 0 auto; }
  body hr {
    margin: 10px;
    height: 0px;
    border: none;
    border-bottom: 1px solid #000000; }
  body footer p {
    margin: 10px;
    font-weight: bold; }
  body .header {
    background-color: #1e1e1e;
    justify-content: space-between;
    padding: 0 20px; }
    body .header .header-link-container {
      margin: 0 5px;
      height: 50px; }
      body .header .header-link-container #logoutForm div {
        color: #999999;
        white-space: nowrap; }
        body .header .header-link-container #logoutForm div a {
          color: #999999;
          text-decoration: none;
          margin: 10px; }
        body .header .header-link-container #logoutForm div a:hover {
          color: #ffffff;
          text-decoration: none; }
        body .header .header-link-container #logoutForm div .profile-link {
          margin: 0;
          color: #ffa218; }
      body .header .header-link-container .header-link {
        color: #999999;
        text-decoration: none; }
        body .header .header-link-container .header-link img {
          max-width: 50px;
          max-height: 50px;
          margin-right: 10px; }
      body .header .header-link-container .header-link:hover {
        color: #ffffff;
        text-decoration: none; }
  body .catalog-container {
    min-height: calc(100vh - 110px);
    margin: 10px 20px; }
    body .catalog-container .add-product .add-product-link {
      margin: 0 auto 10px auto;
      background-color: #ffffff; }
    body .catalog-container .toggle-categories-btn {
      margin: 0 auto 10px auto;
      background-color: #ffffff; }
    body .catalog-container .categories {
      border-radius: 6px;
      background-color: #ffffff;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center; }
      body .catalog-container .categories .category-link {
        width: 300px; }
    body .catalog-container .hidden {
      display: none; }
    body .catalog-container .product-container {
      justify-content: space-between;
      border-radius: 6px;
      background-color: #ffffff;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px;
      margin: 10px 0;
      height: 250px; }
      body .catalog-container .product-container .product-left .product-image-container {
        max-width: 200px;
        margin: 10px; }
        body .catalog-container .product-container .product-left .product-image-container .carousel-container div:first-of-type {
          height: 230px; }
          body .catalog-container .product-container .product-left .product-image-container .carousel-container div:first-of-type .carousel-inner .active {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            align-items: center; }
      body .catalog-container .product-container .product-left .name-id-description {
        margin: 10px; }
        body .catalog-container .product-container .product-left .name-id-description .product-name {
          font-size: 20px;
          margin-bottom: 2px; }
        body .catalog-container .product-container .product-left .name-id-description .product-id {
          font-size: 14px;
          margin-bottom: 10px; }
      body .catalog-container .product-container .product-right {
        justify-content: space-between;
        margin: 10px; }
        body .catalog-container .product-container .product-right .product-price {
          font-size: 24px;
          font-weight: bold; }
  body .product-container {
    margin: 10px 20px;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px; }
    body .product-container .product-top-section .product-image-container {
      max-width: 400px;
      margin: 10px; }
      body .product-container .product-top-section .product-image-container .carousel-container div:first-of-type {
        height: 400px; }
        body .product-container .product-top-section .product-image-container .carousel-container div:first-of-type .carousel-inner .active {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          align-content: center;
          justify-content: center;
          align-items: center; }
    body .product-container .product-top-section .product-buy {
      justify-content: space-between; }
      body .product-container .product-top-section .product-buy .product-name {
        font-size: 20px;
        margin: 10px 10px 2px 10px; }
      body .product-container .product-top-section .product-buy .product-id {
        font-size: 14px;
        margin: 0 10px 10px 10px; }
      body .product-container .product-top-section .product-buy .product-price {
        font-size: 20px;
        font-weight: bold;
        margin: 10px; }
    body .product-container .product-bot-section .product-description-container .product-description-title {
      font-size: 20px;
      margin: 10px; }
    body .product-container .product-bot-section .product-description-container .product-desctiption {
      font-size: 16px;
      font-family: "Roboto";
      margin: 10px; }
    body .product-container .product-bot-section .product-comments .product-comments-title {
      font-size: 20px;
      text-align: center;
      margin: 10px; }
    body .product-container .product-bot-section .product-comments .auth-ask {
      text-align: center; }
    body .product-container .product-bot-section .product-comments .add-comment-title {
      text-align: center;
      margin: 10px; }
    body .product-container .product-bot-section .product-comments .add-comment-form div p label {
      display: none; }
    body .product-container .product-bot-section .product-comments .add-comment-form div p textarea {
      border-radius: 5px;
      font-size: 18px;
      padding: 10px;
      border: 1px solid rgba(0, 0, 0, 0.3);
      width: 600px;
      height: 100px;
      resize: none;
      font-family: "Roboto"; }
    body .product-container .product-bot-section .product-comments .add-comment-form div p textarea:focus {
      border: 1px solid #ffa218;
      outline: 2px solid #ffa218; }
    body .product-container .product-bot-section .product-comments .add-comment-form div .btn {
      background-color: #f6f6f6;
      line-height: 30px;
      font-family: "Roboto"; }
    body .product-container .product-bot-section .product-comments .add-comment-form div .btn:hover {
      font-weight: bold; }
    body .product-container .product-bot-section .product-comments .comment-container {
      margin: 10px;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 6px; }
      body .product-container .product-bot-section .product-comments .comment-container .comment-title {
        font-size: 14px;
        margin: 10px; }
        body .product-container .product-bot-section .product-comments .comment-container .comment-title .comment-author {
          font-weight: bold; }
      body .product-container .product-bot-section .product-comments .comment-container .comment-text {
        margin: 10px; }
  body .cart-container {
    min-height: calc(100vh - 110px);
    margin: 10px 20px; }
    body .cart-container .cart-info .cart-title {
      margin: 10px;
      text-align: center; }
    body .cart-container .cart-info .place-an-order-link {
      background-color: #ffffff;
      margin: 10px auto; }
    body .cart-container .cart-info .please-fill {
      margin: 10px; }
    body .cart-container .cart-info .profile-link {
      background-color: #ffffff; }
    body .cart-container .cart-info .cart-details {
      background-color: #ffffff;
      border-radius: 6px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px;
      justify-content: space-between;
      margin: 10px 0; }
      body .cart-container .cart-info .cart-details .product-image {
        margin: 10px;
        max-width: 120px; }
        body .cart-container .cart-info .cart-details .product-image .carousel-container div:first-of-type {
          height: 120px; }
          body .cart-container .cart-info .cart-details .product-image .carousel-container div:first-of-type .carousel-inner .active {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            align-items: center; }
      body .cart-container .cart-info .cart-details .left-and-center .left-part {
        margin: 10px; }
        body .cart-container .cart-info .cart-details .left-and-center .left-part p {
          margin: 5px;
          white-space: nowrap; }
      body .cart-container .cart-info .cart-details .left-and-center .center-part {
        margin: 10px; }
        body .cart-container .cart-info .cart-details .left-and-center .center-part p {
          margin: 5px;
          white-space: nowrap; }
      body .cart-container .cart-info .cart-details .right-part {
        margin: 10px; }
        body .cart-container .cart-info .cart-details .right-part .add-to-cart-link {
          width: 36px; }
        body .cart-container .cart-info .cart-details .right-part .add-to-cart-link:hover {
          border: 1px solid #22bd65;
          background-image: linear-gradient(to top, #22bd65, #01d301); }
        body .cart-container .cart-info .cart-details .right-part .remove-from-cart-link {
          width: 36px; }
        body .cart-container .cart-info .cart-details .right-part .remove-from-cart-link:hover {
          border: 1px solid #c90000;
          background-image: linear-gradient(to top, #c90000, #ee0101); }
  body .client-orders-container {
    min-height: calc(100vh - 110px);
    margin: 10px 20px; }
    body .client-orders-container .order-container .order-info {
      background-color: #ffffff;
      border-radius: 6px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px;
      margin: 10px 0; }
      body .client-orders-container .order-container .order-info .order-header .order-title {
        margin: 10px; }
      body .client-orders-container .order-container .order-info .order-header .order-status {
        margin: 10px; }
    body .client-orders-container .order-container .order-details {
      margin: 10px; }
      body .client-orders-container .order-container .order-details .product-image {
        margin: 10px;
        max-width: 120px; }
        body .client-orders-container .order-container .order-details .product-image img {
          flex: 0 0 auto;
          width: 100%; }
      body .client-orders-container .order-container .order-details .left-part p {
        margin: 5px;
        white-space: nowrap; }
      body .client-orders-container .order-container .order-details .right-part p {
        margin: 5px;
        white-space: nowrap; }
  body .manager-orders-container {
    min-height: calc(100vh - 110px);
    margin: 10px 20px; }
    body .manager-orders-container .order-container {
      justify-content: space-between;
      background-color: #ffffff;
      border-radius: 6px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px;
      margin: 10px 0; }
      body .manager-orders-container .order-container .order-info .order-title {
        margin: 10px; }
      body .manager-orders-container .order-container .order-info .order-status {
        margin: 10px; }
      body .manager-orders-container .order-container .order-info .order-client {
        margin: 10px; }
      body .manager-orders-container .order-container .order-info .order-details {
        margin: 10px; }
        body .manager-orders-container .order-container .order-info .order-details .product-image {
          margin: 10px;
          max-width: 120px; }
          body .manager-orders-container .order-container .order-info .order-details .product-image img {
            flex: 0 0 auto;
            width: 100%; }
        body .manager-orders-container .order-container .order-info .order-details .left-and-center .left-part p {
          margin: 5px;
          white-space: nowrap; }
        body .manager-orders-container .order-container .order-info .order-details .left-and-center .center-part p {
          margin: 5px;
          white-space: nowrap; }
      body .manager-orders-container .order-container .status-buttons {
        justify-content: space-between; }
        body .manager-orders-container .order-container .status-buttons .status-section-first .status-change-approve:hover {
          border: 1px solid #22bd65;
          font-weight: bold;
          background-image: linear-gradient(to top, #22bd65, #01d301); }
        body .manager-orders-container .order-container .status-buttons .status-section-first .status-change-reject:hover {
          border: 1px solid #c90000;
          background-image: linear-gradient(to top, #c90000, #ee0101);
          font-weight: bold; }
        body .manager-orders-container .order-container .status-buttons .status-section-first .status-change-reset:hover {
          font-weight: bold; }
        body .manager-orders-container .order-container .status-buttons .status-section-second .status-change-delete:hover {
          border: 1px solid #c90000;
          background-image: linear-gradient(to top, #c90000, #ee0101);
          font-weight: bold; }
  body .contacts-container {
    min-height: calc(100vh - 110px);
    margin: 10px 20px; }
    body .contacts-container .address-container {
      background-color: #ffffff;
      border-radius: 6px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px; }
      body .contacts-container .address-container address {
        text-align: center;
        margin: 10px;
        font-style: normal; }
        body .contacts-container .address-container address p {
          margin: 10px 0; }
        body .contacts-container .address-container address abbr {
          display: block;
          margin: 10px 0; }
  body .login-container {
    min-height: calc(100vh - 110px);
    margin: 10px 20px; }
    body .login-container .auth-form-container {
      background-color: #ffffff;
      border-radius: 6px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px; }
      body .login-container .auth-form-container .login-title {
        margin: 10px 0; }
      body .login-container .auth-form-container .login-form .form-group label {
        display: none; }
      body .login-container .auth-form-container .login-form .form-group div input {
        border-radius: 6px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        font-size: 16px;
        text-align: center;
        line-height: 30px;
        width: 250px;
        padding: 5px;
        margin: 10px; }
      body .login-container .auth-form-container .login-form .form-group div input:focus {
        border: 1px solid #ffa218;
        outline: 2px solid #ffa218; }
      body .login-container .auth-form-container .login-form .form-group .login-button {
        margin-bottom: 20px; }
  body .registration-container {
    min-height: calc(100vh - 110px);
    margin: 10px 20px; }
    body .registration-container .reg-form-container {
      background-color: #ffffff;
      border-radius: 6px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px; }
      body .registration-container .reg-form-container .registration-title {
        margin: 10px auto;
        text-align: center; }
      body .registration-container .reg-form-container form div p {
        margin: 10px 0; }
        body .registration-container .reg-form-container form div p label {
          display: block;
          margin: 0 auto;
          text-align: center; }
        body .registration-container .reg-form-container form div p input {
          display: block;
          margin: 10px auto;
          border-radius: 6px;
          border: 1px solid rgba(0, 0, 0, 0.3);
          font-size: 16px;
          text-align: center;
          line-height: 30px;
          width: 250px;
          padding: 5px; }
        body .registration-container .reg-form-container form div p input:focus {
          border: 1px solid #ffa218;
          outline: 2px solid #ffa218; }
        body .registration-container .reg-form-container form div p .helptext {
          display: block;
          text-align: center; }
      body .registration-container .reg-form-container form div ul {
        margin: 0 auto;
        width: 600px; }
        body .registration-container .reg-form-container form div ul li {
          margin: 2px 0; }
      body .registration-container .reg-form-container form div .registration-button {
        margin-bottom: 20px; }
  body .carousel {
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center; }
    body .carousel .controls {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: nowrap; }
    body .carousel ol {
      background-color: #999999;
      width: auto;
      margin: 0 auto;
      border-radius: 6px;
      display: flex; }
  body .catalog-container .carousel-image-container {
    max-width: 200px;
    max-height: 200px; }
  body .product-container .carousel-image-container {
    max-width: 400px;
    max-height: 400px; }
  body .carousel-image-container .carousel-image {
    width: 100%;
    height: 100%;
    flex: 0 0 auto; }
  body .news-container {
    min-height: calc(100vh - 110px); }
    body .news-container .news-post-container {
      margin: 10px 20px;
      padding: 10px;
      background-color: #ffffff;
      border-radius: 6px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px;
      max-width: 960px;
      justify-content: space-between; }
      body .news-container .news-post-container .post-link {
        color: #000000;
        text-decoration: none; }
      body .news-container .news-post-container .post-link:hover {
        color: #ffa218;
        text-decoration: none;
        cursor: pointer; }
  body .post-container {
    min-height: calc(100vh - 110px); }
    body .post-container .npc {
      margin: 10px 20px;
      background-color: #ffffff;
      border-radius: 6px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px; }
      body .post-container .npc .img-container img {
        margin-top: 5px;
        width: calc(100% - 10px);
        flex: 0 0 auto;
        border-radius: 6px; }
      body .post-container .npc .post-title {
        margin: 10px 0;
        text-align: center;
        font-size: 30px; }
      body .post-container .npc .post-text {
        margin: 10px 5px; }
      body .post-container .npc .post-date {
        margin: 10px 5px;
        font-size: 14px;
        text-align: right; }
  body .home-container {
    min-height: calc(100vh - 110px);
    margin: 10px 20px; }
    body .home-container .hcc {
      border-radius: 6px;
      background-color: #ffffff;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px; }
      body .home-container .hcc .title {
        margin: 10px 0;
        text-align: center; }
      body .home-container .hcc .text {
        margin: 10px 0;
        text-align: center; }
      body .home-container .hcc .img-container {
        max-width: 500px;
        margin-bottom: 10px; }
        body .home-container .hcc .img-container img {
          margin-top: 5px;
          width: calc(100% - 10px);
          flex: 0 0 auto;
          border-radius: 6px; }
  body .user-container {
    min-height: calc(100vh - 110px);
    margin: 10px 20px; }
    body .user-container .user-info {
      justify-content: center;
      background-color: #ffffff;
      border-radius: 6px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px; }
      body .user-container .user-info .left p {
        min-height: 30px;
        margin: 10px;
        text-align: right; }
      body .user-container .user-info .right p {
        min-height: 30px;
        margin: 10px; }
        body .user-container .user-info .right p input {
          display: block;
          margin: 10px auto;
          border-radius: 6px;
          border: 1px solid #000000;
          font-size: 16px;
          width: 250px;
          padding: 5px 10px; }
    body .user-container .update-link {
      background-color: #ffffff;
      margin: 10px auto; }
  body .user-container {
    min-height: calc(100vh - 110px); }
    body .user-container form {
      height: 100%;
      width: 100%; }
      body .user-container form .user-data {
        justify-content: center;
        background-color: #ffffff;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px; }
        body .user-container form .user-data .left p {
          margin: 10px;
          line-height: 30px;
          text-align: right; }
        body .user-container form .user-data .right {
          margin-right: 10px; }
          body .user-container form .user-data .right input {
            display: block;
            margin: 10px auto;
            border-radius: 6px;
            border: 1px solid rgba(0, 0, 0, 0.3);
            font-size: 16px;
            width: 250px;
            padding: 5px 10px; }
          body .user-container form .user-data .right input:focus {
            border: 1px solid #ffa218;
            outline: 2px solid #ffa218; }
      body .user-container form .profile-submit {
        background-color: #ffffff;
        margin: 10px auto; }
  body .add-product-container {
    min-height: calc(100vh - 110px);
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px;
    margin: 10px 20px; }
    body .add-product-container .add-product-form {
      margin: 10px 0; }
      body .add-product-container .add-product-form p {
        text-align: center; }
      body .add-product-container .add-product-form textarea {
        display: block;
        margin: 10px auto;
        border-radius: 6px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        font-size: 16px;
        width: 400px;
        height: 150px;
        padding: 5px 10px;
        font-family: "Roboto"; }
      body .add-product-container .add-product-form textarea:focus {
        border: 1px solid #ffa218;
        outline: 2px solid #ffa218; }
      body .add-product-container .add-product-form input {
        display: block;
        margin: 10px auto;
        border-radius: 6px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        font-size: 16px;
        width: 400px;
        padding: 5px 10px; }
      body .add-product-container .add-product-form input:focus {
        border: 1px solid #ffa218;
        outline: 2px solid #ffa218; }
      body .add-product-container .add-product-form .submit-button {
        margin: 10px auto; }
