@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto.ttf"); }

body .header .header-left, body .header .header-right, body .catalog-container .product-container, body .catalog-container .product-container .product-left, body .manager-orders-container .order-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }

body .catalog-container .product-container .product-left .name-id-description, body .product-container .product-top-section .product-buy, body .cart-container .cart-info .cart-details .left-and-center .left-part, body .cart-container .cart-info .cart-details .left-and-center .center-part, body .client-orders-container .order-container .order-info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap; }

body .header, body .header .header-link-container, body .header .header-link-container #logoutForm, body .header .header-link-container .header-link, body .product-container .product-top-section, body .cart-container .cart-info .cart-details, body .cart-container .cart-info .cart-details .left-and-center, body .client-orders-container .order-container .order-details, body .manager-orders-container .order-container .order-info .order-details, body .manager-orders-container .order-container .order-info .order-details .left-and-center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center; }

body, body .catalog-container .product-container .product-right, body .product-container .product-bot-section .product-description-container, body .product-container .product-bot-section .product-comments .add-comment-form div, body .cart-container .cart-info .cart-details .right-part, body .manager-orders-container .order-container .status-buttons, body .login-container, body .login-container .login-form .form-group, body .registration-container form div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center; }

body .catalog-container .toggle-categories-btn, body .catalog-container .categories .category-link, body .catalog-container .product-container .product-right .buttons .btn-link, body .product-container .product-top-section .product-buy .add-to-catr-link, body .product-container .product-bot-section .product-comments .add-comment-form div .btn, body .cart-container .cart-info .place-an-order-link, body .cart-container .cart-info .cart-details .right-part .add-to-cart-link, body .cart-container .cart-info .cart-details .right-part .remove-from-cart-link, body .manager-orders-container .order-container .status-buttons .status-change-button, body .login-container .login-form .form-group .login-button, body .registration-container form div .registration-button {
  display: block;
  color: #000000;
  background-color: #efefef;
  border: 1px solid #000000;
  border-radius: 6px;
  text-decoration: none;
  text-align: center;
  margin: 10px;
  font-size: 18px;
  line-height: 30px;
  width: 200px; }

body .catalog-container .toggle-categories-btn:hover, body .catalog-container .categories .category-link:hover, body .catalog-container .product-container .product-right .buttons .btn-link:hover, body .product-container .product-top-section .product-buy .add-to-catr-link:hover, body .product-container .product-bot-section .product-comments .add-comment-form div .btn:hover, body .cart-container .cart-info .place-an-order-link:hover, body .cart-container .cart-info .cart-details .right-part .add-to-cart-link:hover, body .cart-container .cart-info .cart-details .right-part .remove-from-cart-link:hover, body .manager-orders-container .order-container .status-buttons .status-change-button:hover, body .login-container .login-form .form-group .login-button:hover, body .registration-container form div .registration-button:hover {
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #ff9900; }
  body .catalog-container .toggle-categories-btn:hover p, body .catalog-container .categories .category-link:hover p, body .catalog-container .product-container .product-right .buttons .btn-link:hover p, body .product-container .product-top-section .product-buy .add-to-catr-link:hover p, body .product-container .product-bot-section .product-comments .add-comment-form div .btn:hover p, body .cart-container .cart-info .place-an-order-link:hover p, body .cart-container .cart-info .cart-details .right-part .add-to-cart-link:hover p, body .cart-container .cart-info .cart-details .right-part .remove-from-cart-link:hover p, body .manager-orders-container .order-container .status-buttons .status-change-button:hover p, body .login-container .login-form .form-group .login-button:hover p, body .registration-container form div .registration-button:hover p,
  body .catalog-container .toggle-categories-btn:hover div,
  body .catalog-container .categories .category-link:hover div,
  body .catalog-container .product-container .product-right .buttons .btn-link:hover div,
  body .product-container .product-top-section .product-buy .add-to-catr-link:hover div,
  body .product-container .product-bot-section .product-comments .add-comment-form div .btn:hover div,
  body .cart-container .cart-info .place-an-order-link:hover div,
  body .cart-container .cart-info .cart-details .right-part .add-to-cart-link:hover div,
  body .cart-container .cart-info .cart-details .right-part .remove-from-cart-link:hover div,
  body .manager-orders-container .order-container .status-buttons .status-change-button:hover div,
  body .login-container .login-form .form-group .login-button:hover div,
  body .registration-container form div .registration-button:hover div {
    font-weight: bold; }

* {
  margin: 0;
  padding: 0; }

html {
  width: 100%; }

@media screen and (min-width: 960px) {
  body {
    width: 100%; } }

body {
  display: inline-block;
  font-family: "Roboto"; }
  body .body-content {
    width: 960px;
    margin: 0 auto; }
  body hr {
    margin: 10px;
    height: 0px;
    border: none;
    border-bottom: 1px solid #000000; }
  body footer p {
    margin: 10px;
    font-weight: bold; }
  body .header {
    background-color: #1e1e1e;
    justify-content: space-between;
    padding: 0 20px; }
    body .header .header-link-container {
      margin: 0 5px;
      height: 50px; }
      body .header .header-link-container #logoutForm div {
        color: #999999;
        white-space: nowrap; }
        body .header .header-link-container #logoutForm div a {
          color: #999999;
          text-decoration: none;
          margin: 10px; }
        body .header .header-link-container #logoutForm div a:hover {
          color: #ffffff;
          text-decoration: none; }
      body .header .header-link-container .header-link {
        color: #999999;
        text-decoration: none; }
        body .header .header-link-container .header-link img {
          max-width: 50px;
          max-height: 50px;
          margin-right: 10px; }
      body .header .header-link-container .header-link:hover {
        color: #ffffff;
        text-decoration: none; }
  body .catalog-container {
    margin: 10px 20px; }
    body .catalog-container .toggle-categories-btn {
      margin: 0 auto 10px auto; }
    body .catalog-container .categories {
      border: 1px solid #999999;
      border-radius: 6px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
    body .catalog-container .hidden {
      display: none; }
    body .catalog-container .product-container {
      justify-content: space-between;
      border: 1px solid #999999;
      border-radius: 6px;
      margin: 10px 0; }
      body .catalog-container .product-container .product-left .product-image-container {
        max-width: 200px;
        margin: 10px; }
        body .catalog-container .product-container .product-left .product-image-container .product-image {
          flex: 0 0 auto;
          width: 100%; }
      body .catalog-container .product-container .product-left .name-id-description {
        margin: 10px; }
        body .catalog-container .product-container .product-left .name-id-description .product-name {
          font-size: 20px;
          margin-bottom: 2px; }
        body .catalog-container .product-container .product-left .name-id-description .product-id {
          font-size: 14px;
          margin-bottom: 10px; }
      body .catalog-container .product-container .product-right {
        justify-content: space-between;
        margin: 10px; }
        body .catalog-container .product-container .product-right .product-price {
          font-size: 24px;
          font-weight: bold; }
  body .product-container {
    margin: 10px 20px; }
    body .product-container .product-top-section .product-image-container {
      max-width: 400px;
      margin: 10px; }
      body .product-container .product-top-section .product-image-container .product-image {
        flex: 0 0 auto;
        width: 100%; }
    body .product-container .product-top-section .product-buy {
      justify-content: space-between; }
      body .product-container .product-top-section .product-buy .product-name {
        font-size: 20px;
        margin: 10px 10px 2px 10px; }
      body .product-container .product-top-section .product-buy .product-id {
        font-size: 14px;
        margin: 0 10px 10px 10px; }
      body .product-container .product-top-section .product-buy .product-price {
        font-size: 20px;
        font-weight: bold;
        margin: 10px; }
    body .product-container .product-bot-section .product-description-container .product-description-title {
      font-size: 20px;
      margin: 10px; }
    body .product-container .product-bot-section .product-description-container .product-desctiption {
      font-size: 16px;
      font-family: "Roboto";
      margin: 10px; }
    body .product-container .product-bot-section .product-comments .product-comments-title {
      font-size: 20px;
      text-align: center;
      margin: 10px; }
    body .product-container .product-bot-section .product-comments .auth-ask {
      text-align: center; }
    body .product-container .product-bot-section .product-comments .add-comment-title {
      text-align: center;
      margin: 10px; }
    body .product-container .product-bot-section .product-comments .add-comment-form div p label {
      display: none; }
    body .product-container .product-bot-section .product-comments .add-comment-form div p textarea {
      border-radius: 5px;
      font-size: 18px;
      padding: 10px;
      width: 600px;
      height: 100px;
      resize: none; }
    body .product-container .product-bot-section .product-comments .add-comment-form div .btn {
      background-color: #ffffff;
      line-height: 30px;
      font-family: "Roboto"; }
    body .product-container .product-bot-section .product-comments .add-comment-form div .btn:hover {
      font-weight: bold; }
    body .product-container .product-bot-section .product-comments .comment-container {
      margin: 10px;
      border: 1px solid #999999;
      border-radius: 6px; }
      body .product-container .product-bot-section .product-comments .comment-container .comment-title {
        font-size: 14px;
        margin: 10px; }
        body .product-container .product-bot-section .product-comments .comment-container .comment-title .comment-author {
          font-weight: bold; }
      body .product-container .product-bot-section .product-comments .comment-container .comment-text {
        margin: 10px; }
  body .cart-container {
    margin: 10px 20px; }
    body .cart-container .cart-info .cart-title {
      margin: 10px; }
    body .cart-container .cart-info .cart-details {
      border: 1px solid #999999;
      border-radius: 6px;
      justify-content: space-between;
      margin: 10px 0; }
      body .cart-container .cart-info .cart-details .product-image {
        margin: 10px;
        max-width: 200px; }
        body .cart-container .cart-info .cart-details .product-image img {
          flex: 0 0 auto;
          width: 100%; }
      body .cart-container .cart-info .cart-details .left-and-center .left-part {
        margin: 10px; }
        body .cart-container .cart-info .cart-details .left-and-center .left-part p {
          margin: 5px; }
      body .cart-container .cart-info .cart-details .left-and-center .center-part {
        margin: 10px; }
        body .cart-container .cart-info .cart-details .left-and-center .center-part p {
          margin: 5px; }
      body .cart-container .cart-info .cart-details .right-part {
        margin: 10px; }
        body .cart-container .cart-info .cart-details .right-part .add-to-cart-link:hover {
          border: 1px solid #22bd65; }
        body .cart-container .cart-info .cart-details .right-part .remove-from-cart-link:hover {
          border: 1px solid #bb0a21; }
  body .client-orders-container {
    margin: 10px 20px; }
    body .client-orders-container .order-container .order-info {
      border: 1px solid #999999;
      border-radius: 6px;
      margin: 10px 0; }
      body .client-orders-container .order-container .order-info .order-header .order-title {
        margin: 10px;
        margin-bottom: 0; }
      body .client-orders-container .order-container .order-info .order-header .order-status {
        margin: 5px 10px;
        margin-bottom: 0; }
    body .client-orders-container .order-container .order-details .product-image {
      margin: 10px;
      max-width: 200px; }
      body .client-orders-container .order-container .order-details .product-image img {
        flex: 0 0 auto;
        width: 100%; }
    body .client-orders-container .order-container .order-details .left-part p {
      margin: 5px; }
    body .client-orders-container .order-container .order-details .right-part p {
      margin: 5px; }
  body .manager-orders-container {
    margin: 10px 20px; }
    body .manager-orders-container .order-container {
      justify-content: space-between;
      border: 1px solid #999999;
      margin: 10px 0;
      border-radius: 6px; }
      body .manager-orders-container .order-container .order-info .order-title {
        margin: 10px; }
      body .manager-orders-container .order-container .order-info .order-status {
        margin: 10px; }
      body .manager-orders-container .order-container .order-info .order-client {
        margin: 10px; }
      body .manager-orders-container .order-container .order-info .order-details {
        margin: 10px; }
        body .manager-orders-container .order-container .order-info .order-details .left-and-center .left-part p {
          margin: 5px; }
        body .manager-orders-container .order-container .order-info .order-details .left-and-center .center-part p {
          margin: 5px; }
      body .manager-orders-container .order-container .status-buttons {
        justify-content: space-between; }
        body .manager-orders-container .order-container .status-buttons .status-section-first .status-change-approve:hover {
          border: 1px solid #22bd65;
          font-weight: bold; }
        body .manager-orders-container .order-container .status-buttons .status-section-first .status-change-reject:hover {
          border: 1px solid #bb0a21;
          font-weight: bold; }
        body .manager-orders-container .order-container .status-buttons .status-section-first .status-change-reset:hover {
          font-weight: bold; }
        body .manager-orders-container .order-container .status-buttons .status-section-second .status-change-delete:hover {
          border: 1px solid #bb0a21;
          font-weight: bold; }
  body .contacts-container {
    margin: 10px 20px; }
    body .contacts-container address {
      margin: 10px 0;
      font-style: normal; }
  body .login-container {
    margin: 10px 20px; }
    body .login-container .login-title {
      margin: 10px 0; }
    body .login-container .login-form .form-group label {
      display: none; }
    body .login-container .login-form .form-group div input {
      border-radius: 6px;
      border: 1px solid #000000;
      font-size: 16px;
      text-align: center;
      line-height: 30px;
      width: 250px;
      padding: 5px;
      margin: 10px; }
  body .registration-container {
    margin: 10px 20px; }
    body .registration-container .registration-title {
      margin: 10px auto;
      text-align: center; }
    body .registration-container form div p {
      margin: 10px 0; }
      body .registration-container form div p label {
        display: block;
        margin: 0 auto;
        text-align: center; }
      body .registration-container form div p input {
        display: block;
        margin: 10px auto;
        border-radius: 6px;
        border: 1px solid #000000;
        font-size: 16px;
        text-align: center;
        line-height: 30px;
        width: 250px;
        padding: 5px; }
      body .registration-container form div p .helptext {
        display: block;
        text-align: center; }
    body .registration-container form div ul {
      margin: 0 auto;
      width: 600px; }
      body .registration-container form div ul li {
        margin: 2px 0; }
  body .carousel {
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center; }
    body .carousel .controls {
      position: absolute;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: nowrap; }
    body .carousel ol {
      background-color: #999999;
      width: auto;
      margin: 0 auto;
      border-radius: 6px;
      display: flex; }
    body .carousel .glyphicon-chevron-right {
      right: 50%;
      left: 0; }
    body .carousel .glyphicon-chevron-left {
      left: 50%;
      right: 0; }
  body .catalog-container .carousel-image-container {
    max-width: 200px;
    max-height: 200px; }
  body .product-container .carousel-image-container {
    max-width: 400px;
    max-height: 400px; }
  body .carousel-image-container .carousel-image {
    width: 100%;
    height: 100%;
    flex: 0 0 auto; }
