{% extends "app/layout.html" %} {% block content %}
<div class="client-orders-container">
  <!-- TODO Resyle -->

 {% for sum in sums%}
  <div class="order-container">
    <div class="order-info">
      <div class="order-header">
        <p class="order-title">Заказ № <strong>{{sum.orderID}}</strong> на сумму <strong>{{sum.totalSum}} руб.</strong> от <strong>{{sum.orderDate.date}}</strong></p>
        <p class="order-status">Статус заказа <span style="color: #{{sum.statusColor}};">{{sum.orderStatus}}</p>
      </div>
        {% for order in orders %} {% if sum.orderID == order.orderID %}
        <div class="order-details">
          <div class="product-image">
            <img src="{{order.productImage}}" alt="" />
          </div>
          <div class="left-part">
            <p>Наименование</p>
            <p>Код продукта</p>
            <p>Стоимость</p>
            <p>Количество</p>
            <p>Общая стоимость</p>
          </div>
          <div class="right-part">
            <p>{{order.productName}}</p>
            <p>{{order.productCode}}</p>
            <p>{{order.productPrice}}</p>
            <p>{{order.productCount}}</p>
            <p>{{order.sumForCount}}</p>
          </div>
        </div>
        {% endif %} {% endfor %}
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}