{% extends "app/layout.html" %} {% block content %}
<div class="contacts-container">
  <h2>{{ title }}</h2>
  <address>
    Псковская область, Псков<br />
    Улица Пушкина, дом Колотушкина<br />
    <abbr title="Phone">Телефон: +7 911 180 82 62</abbr>
  </address>

  <address>
    <strong>Поддержка:</strong> <a href="mailto:Support@example.com">Support@inomarket.com</a><br />
    <strong>Отдел маркетинга:</strong> <a href="mailto:Marketing@example.com">Marketing@inomarket.com</a>
  </address>
</div>

{% endblock %}
