{% if user.is_authenticated %}
<form id="logoutForm" action="/logout" method="post" class="navbar-right">
  {% csrf_token %}

  <div class="username" class="navbar-brand">Вы вошли как {% if not user.is_staff %}<a class="profile-link" href="{% url 'profile' %}">{{ user.username }}</a>{% else %}{{user.username}}{% endif %}</div>
  <div><a class="login-button login-link" href="javascript:document.getElementById('logoutForm').submit()">Выход</a></div>
</form>

{% else %}

<div class="">
  <a class="header-link login-link" href="{% url 'login' %}">Войти</a>
</div>

{% endif %}
