{% extends "app/layout.html" %} {% block content %}
<div class="product-container">
  <div class="product-top-section">
    <div class="product-image-container">
      <!-- <img class="product-image" src="{{product.image.url}}" /> -->
      {% include "app/carousel.html" %}
    </div>

    <div class="product-buy">
      <h2 class="product-name">{{product.productName}}</h2>
      <p class="product-id">Код продукта: {{product.productCode}}</p>
      <p class="product-price">{{product.productPrice}} руб.</p>
      {% if user.is_authenticated %}
      <a href="{% url 'addToCart' parametr=product.productID %}" class="add-to-catr-link"
        ><div class="product-buy-button"><span class="plus">+&nbsp;</span>В корзину</div></a
      >
      {% endif %}
    </div>
  </div>
  <div class="product-bot-section">
    <div class="product-description-container">
      <h2 class="product-description-title">Описание</h2>
      <pre class="product-desctiption">{{product.productDescription}}</pre>
    </div>
    <div class="product-comments">
      <h2 class="product-comments-title">Отзывы</h2>
      <!-- Форма комментариев -->
      {% if user.is_authenticated %}
      <h3 class="add-comment-title">Добавить отзыв</h3>
      <form class="add-comment-form" method="POST">
        {% csrf_token %}
        <div>
          {{form.as_p}}
          <button type="submit" class="save btn btn-default">Отправить отзыв</button>
        </div>
      </form>

      {% else %}
      <h3 class="auth-ask">Авторизуйтесь для добавления отзывов</h3>
      {% endif %} {% for comment in comments %}
      <div class="comment-container">
        <p class="comment-title">
          <span class="comment-date">{{comment.date.date}}&nbsp;&nbsp;&nbsp;</span><span class="comment-author">{{comment.author}}</span>
        </p>
        <p class="comment-text">{{comment.text|linebreaksbr }}</p>
      </div>
      {% endfor %}
      <!-- Форма комментариев -->
    </div>
  </div>
</div>
{% endblock %}
